* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  .hero {
    .grid-container {
      display: grid;
      row-gap: 10px;
      column-gap: 10px;
      grid-template-columns: auto auto auto auto;

      @media (max-width: 768px) {
        grid-template-columns: auto auto;
      }

      .grid-item {
        height: 100px;
        background-color: red;
        border: 1px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;

        &.item-1 {
          grid-row: 1;
          grid-column: 3;
        }

        &.item-2 {
          /* grid-column-start: 1;
          grid-column-end: 3; */
          /* grid-column: 2 / 4; */
          grid-column: 2 / span 2;
        }
      }
    }
  }
}
