* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  border: 2px solid red;
  padding: 10px 20px;
}

.dialog {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  backdrop-filter: blur(2px);

  .dialog-box {
    border: 1px solid black;
    height: 40%;
    width: 50%;
  }
}

.bold {
  font-weight: bolder;
}

.underline {
  text-decoration: underline;
}

@keyframes changeColor {
  from {
    background-color: yellow;
  }
  to {
    background-color: green;
  }
}

.animate-background {
  animation-name: changeColor;
  animation-duration: 5s;
}
