.button-primary {
  background-color: skyblue;
  color: white;
  padding: 10px 20px;
}

.navbar {
  height: 10vh;
  background-color: red;
}

.hero {
  height: 75vh;
  background-color: green;
}

.footer {
  height: 15vh;
  background-color: blue;
}

.linethrough {
  text-decoration: line-through;
}

.active {
  color: red;
}
