* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  color: red;
}

.fullname {
  color: blue;
}

position {
  color: yellow;
}

.yellow {
  color: yellow;
}

* {
  font-size: 30px;
}

.bg-gray {
  background-color: red;
  color: white;
  font-size: 100px;
  font-weight: bolder;
  height: 500px;
  width: 500px;
  padding-left: 200px;
  margin: 40px;
}

.number {
  background-color: rgb(45, 118, 177);
  border-radius: 20px;
  color: white;
  padding: 5px 13px;
}

/* 
CSS Selectors

1. Tag Selector: Tagname Ex: div b p

div{

}


2. Id Selector: Use id and # . Ex: #position

3. Class Selector: Use class attribute and its value Ex: .yellow

4. Universal Selector: *


*/

.parent {
  margin: 10% 30%;
  height: 600px;
  width: 600px;
  border: 4px solid pink;
  display: flex;
  justify-content: space-evenly;

  .child {
    color: blue;
    height: 100px;
    border: 2px solid green;
  }
}
