* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baje {
  width: 500px;
  height: 500px;
  position: relative;
  background-color: red;

  .baccha {
    height: 100px;
    width: 100px;

    &.xora {
      background-color: blue;
      position: fixed;
      z-index: 3;
      right: 10px;
      bottom: 10px;
    }
  }

  .nati {
    position: absolute;
  }
}
