* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @keyframes changeColor {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
  }
} */
/* 
@keyframes changeColor {
  0% {
    top: 0;
  }
  25% {
    top: 100px;
  }
  50% {
    top: 200px;
    left: 100px;
  }
  75% {
    top: 300px;
    left: 200px;
  }
  100% {
    top: 0;
    left: 0;
  }
} */

main {
  .box {
    /* position: absolute; */
    height: 100px;
    width: 100px;
    border: 1px solid red;
    animation-name: changeColor;
    animation-duration: 10s;
  }

  .title {
    transition: 3s;

    &:hover {
      font-size: 30px;
    }
  }
}
