/* padding, margin, flex, position,height and width */

.p-xs {
  padding: var(--spacing-xs);
}
.p-sm {
}
.p-md {
}
.p-lg {
}
.p-xl {
}

.pr-xs {
}
.pr-sm {
}
.pr-md {
}
.pr-lg {
}
.pr-xl {
}

.pl-xs {
}
.pl-sm {
}
.pl-md {
}
.pl-lg {
}
.pl-xl {
}

.pt-xs {
}
.pt-sm {
}
.pt-md {
}
.pt-lg {
}
.pt-xl {
}

.pb-xs {
}
.pb-sm {
}
.pb-md {
}
.pb-lg {
}
.pb-xl {
}

.pl-xs {
}
.pl-sm {
}
.pl-md {
}
.pl-lg {
}
.pl-xl {
}

.pl-xs {
}
.pl-sm {
}
.pl-md {
}
.pl-lg {
}
.pl-xl {
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.h-half {
  height: 50%;
}
