* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  border-bottom: 2px solid gray;
  position: fixed;
  width: 100vw;

  .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
  }

  .nav-items {
    display: flex;
    justify-content: center;
    list-style: none;

    gap: 20px;
  }

  .nav-item:hover {
    font-weight: bold;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      padding: 5px 10px;

      &.login {
        border: none;
        outline: none;
        background-color: white;
        border: 1px solid black;

        /* &:hover {
          border: none;
          outline: none;
          background-color: black;
          border: 2px solid black;
          color: white;
        } */
      }

      &.signup {
        border: none;
        outline: none;
        background-color: black;
        border: 1px solid black;
        color: white;

        /* &:hover {
          border: none;
          outline: none;
          border-color: white;
          color: black;
          background-color: white;
          border: 2px solid black;
        } */
      }

      &:hover {
        background-color: rgb(218, 211, 211);
        color: black;
      }
    }
  }
}

main {
  height: 100vh;
  display: flex;

  .section {
    width: 50%;
    &.left {
      display: flex;
      justify-content: center;
      align-items: center;
      .description {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .title {
          color: rgb(8, 8, 158);
          font-weight: bolder;
          font-size: 60px;
        }

        .sub-title {
          color: rgb(161, 128, 8);
          font-size: 30px;
        }

        .icon {
          background-color: orange;
          width: 40px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          img {
            height: 16px;
            width: 16px;
          }
        }
      }
    }

    &.right {
      color: white;
      background-image: url("https://cdn.pixabay.com/photo/2018/07/13/19/56/st-peters-church-3536449_1280.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
