:root {
  --color-primary: blue;
  --color-secondary: red;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --text-xs: 4px;
  --text-sm: 8px;
  --text-md: 16px;
  --text-lg: 32px;
}
