* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;

  .main {
    width: 30%;
    background-color: white;
    height: 100vh;
    margin-left: 35%;
    padding: 10px;

    .heading {
      margin-bottom: 20px;
      .title {
        font-size: 24px;
        font-weight: bold;
      }

      .sub-title {
        font-size: 20px;
        color: gray;
      }
    }

    .todo-item {
      background-color: purple;
      color: white;
      padding: 20px 10px;
      margin-bottom: 10px;
      border-radius: 10px;
    }

    .header {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

    .completed {
      .todo-item {
        background-color: rgb(147, 84, 95);
      }
    }
  }
}
