* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  .hero {
    .container {
      display: flex;
      flex-wrap: wrap;
      /* gap: 8%; */

      .child {
        height: 100px;
        width: 30%;
        /* background-color: red; */
        border: 1px solid black;

        &:nth-child(3n-1) {
          background-color: red;
          margin: 0 5%;
        }
      }
    }
  }

  .flipped {
    margin: 10% 0;
    border: 10px solid seagreen;

    .container {
      border: 3px solid blue;
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      /* gap: 8%; */

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }

      .child {
        height: 100px;
        width: 50%;
        /* background-color: red; */
        border: 1px solid black;

        &.item-2 {
          background-color: red;
        }
      }
    }
  }
}
