* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @keyframes changeColor {
  from {
    background-color: red;
  }
  to {
    background-color: green;
  }
} */

@keyframes moveBox {
  from {
    margin-top: 100px;
  }
  to {
    margin-top: 700px;
  }
}

@keyframes colorCycle {
  0% {
    background-color: red;
  }
  25% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: purple;
  }
  100% {
    background-color: peru;
  }
}

.hello {
  animation-name: colorCycle;
  animation-duration: 10s;
  height: 100px;
  width: 100px;
  background-color: blue;
  animation-iteration-count: infinite;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sth {
  height: 100px;
  width: 100px;
  border: 10px solid black;
  border-bottom: 10px solid white;
  border-radius: 100%;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.link {
  font-size: 24px;
  transition: 3s;
}

.link:hover {
  font-size: 40px;
}
