.link {
  color: red;
}

/* .link::before {
  width: 10px;
  color: red;
}

.link::after {
  content: " ";
  background-color: red;
  display: inline-block;
  width: 12px;
  height: 12px;
} */

.title::first-letter {
  text-transform: uppercase;
  color: blue;
}

img {
  height: 100px;
  width: 100px;
}
