* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;

  .logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;

    .nav-item {
      &:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .button-group {
    button {
      padding: 5px;

      &.login {
        background-color: white;

        &:hover {
          background-color: gainsboro;
        }
      }

      &.signup {
        background-color: black;
        color: white;

        &:hover {
          background-color: gainsboro;
          color: black;
        }
      }
    }
  }
}
