* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  position: fixed;
  width: 100%;

  background-color: black;
  color: white;

  .logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;

    .nav-item {
      &:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .button-group {
    button {
      padding: 5px;

      &.login {
        background-color: white;

        &:hover {
          background-color: gainsboro;
        }
      }

      &.signup {
        background-color: black;
        color: white;

        &:hover {
          background-color: gainsboro;
          color: black;
        }
      }
    }
  }
}

main {
  height: 100vh;

  .hero {
    height: 100vh;
    width: 100vw;
    display: flex;

    .section {
      width: 50%;

      &.left {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;

        .baje {
          height: 500px;
          width: 500px;
          background-color: gray;

          .bau {
            height: 300px;
            width: 300px;
            position: relative;
            background-color: beige;

            .xora {
              height: 100px;
              width: 100px;
              background-color: blue;
              position: fixed;
              right: 10px;
              bottom: 10px;
            }

            .xori {
              height: 150px;
              width: 150px;

              background-color: pink;
            }
          }
        }

        .content {
          width: 50%;

          .highlight {
            display: flex;
            align-items: center;
            gap: 10px;
            color: orange;
            hr {
              width: 100%;
              height: 1px;
            }
          }
        }
      }

      &.right {
        background-image: url("https://cdn.pixabay.com/photo/2024/03/11/20/14/bouquet-8627534_1280.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
