/* spacing (margin, padding),flex, position, diplay, height, width */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}
