:root {
  --bg-primary: red;

  --text-xs: 4px;
  --text-sm: 8px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 28px;

  --font-light: 200;
  --font-medium: 400;
  --font-semibold: 600;
  --font-bold: 800;
  --font-bolder: 1000;

  --spacing-sm: 8px;
  --spacing-md: 10px;
}
