* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-columns: auto auto auto auto;
  .number {
    height: 100px;
    border: 1px solid red;

    &.item-1 {
      /* grid-column-start: 1;
      grid-column-end: 4; */

      /* grid-column: 1/4; */

      grid-row: 1;
      grid-column: 4;
    }
  }
}
