* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;

  background-image: url("https://cdn.pixabay.com/photo/2023/03/29/16/13/labrador-retriever-7885882_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bold;
  font-size: 24px;

  .content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .title {
      font-size: 80px;
      font-weight: bolder;
      text-align: center;
    }

    .sub-title {
      text-align: center;
      font-size: 30px;
      color: orangered;
    }

    .call-to-action {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      background-color: blue;
      color: white;

      .icon {
        height: 14px;
        width: 14px;
      }
    }
  }

  /* img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  } */
}
