p {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;

  .nav-items {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    padding: 5px;

    @media (max-width: 425px) {
      display: none;
    }
  }

  .burger {
    display: none;
    @media (max-width: 425px) {
      display: block;
    }
  }
}

section {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .section {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }

    &.left {
      background-color: red;
    }

    &.right {
      background-color: blue;
    }
  }
}
/* 
@media screen and (max-width: 768px) {
  section {
    flex-direction: column;

    .section {
      width: 100%;
    }
  }
} */

.items {
  display: flex;
  width: 100;

  flex-wrap: wrap;

  .item {
    height: 100px;
    background-color: yellow;
    border: 1px solid green;
    width: 30%;
    display: flex;
    margin-bottom: 10px;

    &:nth-child(3n-1) {
      margin: 0 5% 5% 5%;
    }

    div {
      width: 50%;
    }
  }
}
